@charset "UTF-8";
/* http://localhost:5500/pages/index.html */
html, body, #fotografias h1 {
  margin: 0px;
  padding: 0px;
  /* comportamiento del scroll... entonces en este caso es despacio */
  scroll-behavior: smooth;
}

header nav div a {
  /* separacion entre cada elemento */
  margin: 20px;
  /* tamaño de la letra */
  font-size: 20px;
  color: white;
  /* subrayado de texto */
  text-decoration: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* altura minima 100vh(viewport height en %) */
  min-height: 100vh;
  /* link a la imagen */
  background: url("../imagenes/fotos inicio/inicio.jpg");
  /* posicion del fondo(en este caso centro) */
  background-position: center;
  /* gracias esto el fondo se queda fijo y lo de adelante se mueve */
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* tamaño del fondo... cover significa que la imagen se agrande hasta que llegue al tamaño de su elemento */
  background-size: cover;
}

main div {
  /* ancho */
  min-width: 40vw;
  color: white;
  text-align: center;
}

main p {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

#fotografias {
  min-height: 100vh;
  background-color: #222222;
  text-align: center;
  color: white;
  padding-top: 20px;
}

.galleriaDeFotos div {
  margin: 10px;
}

.galleriaDeFotos div img {
  max-width: 300px;
}

#sobre-mi {
  min-height: 40vh;
  background-color: #333;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sobre-mi h1 {
  margin: 0px;
  color: white;
}

#sobre-mi div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  height: 100%;
}

#sobre-mi div p {
  color: white;
}

#experiencia {
  min-height: 40vh;
  background-color: #222;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#experiencia h1 {
  margin: 0px;
  color: white;
}

#experiencia div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  height: 100%;
}

#experiencia div p {
  color: white;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #222;
  color: white;
}

#contacto form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contacto form input {
  margin: 15px;
}

footer {
  margin: 0px;
  padding: 5px;
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(35%, black), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, black 35%, #00d4ff 100%);
}

footer h1 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}
/*# sourceMappingURL=estilos.css.map */