/* http://localhost:5500/pages/index.html */
    html, body{
    margin: 0px;
    padding: 0px;
    /* comportamiento del scroll... entonces en este caso es despacio */
    scroll-behavior: smooth;
    }
    $font-weights: ("regular": 400, "medium": 500, "bold": 700); 
    $colores: ("color1": #222, "color2": #333);

// incluir un fragmento de codigo:
// @include
// crear el fragmento de codigo para incluir
// @mixin
// copiar estilos de una clase/id/elemento anterior.
// @extend

// definimos un fragmento de codigo reutilizable
    @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    }   
    header {
        nav {
            div {
                a{
                /* separacion entre cada elemento */
                margin: 20px;
                /* tamaño de la letra */
                font-size: 20px;
                font-weight: map.get($font-weights, "regular");
                color: white;
                /* subrayado de texto */
                text-decoration: none;               
                }
                } 
                }
                }
        main{
    // incluimos un mixin
    @include flex-center;
    flex-direction: row;
    /* altura minima 100vh(viewport height en %) */
    min-height: 100vh;
    /* link a la imagen */
    background: url('../imagenes/fotos inicio/inicio.jpg');
    /* posicion del fondo(en este caso centro) */
    background-position: center;
    /* gracias esto el fondo se queda fijo y lo de adelante se mueve */
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* tamaño del fondo... cover significa que la imagen se agrande hasta que llegue al tamaño de su elemento */
    background-size: cover;
    }
    main {
        div{
        /* ancho */
        min-width: 40vw;
        color: white;
        text-align: center;
            }
        }
    main p{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: solid;
        }
    #fotografias{
    min-height: 100vh;
    background-color: rgb(34, 34, 34);
    text-align: center;
    color: white;
    padding-top: 20px;
    }
    #fotografias {
        h1{
        @extend body;
        }
    }
    .galleriaDeFotos{ 
        div{
    margin: 10px;
        }
    }
    .galleriaDeFotos {
        div {
            img{
    max-width: 300px;
            }
        }
    }
    #sobre-mi{
    min-height: 40vh;
    background-color: #333;
    text-align: center;
    @include flex-center;
    flex-direction: column;
        }
    #sobre-mi { 
        h1{
    margin: 0px;
    color: white;
        }
        }
    #sobre-mi {
    div{
    @include flex-center;
    padding: 50px;
    height: 100%;
        }
    }
    #sobre-mi {
    div {
        p{
    color: white;
            }
        }
    }

    #experiencia{
    min-height: 40vh;
    background-color: #222;
    text-align: center;
    @include flex-center;
    flex-direction: column;
    }
    #experiencia {
    h1{
    margin: 0px;
    color: white;
    }
    }
    #experiencia {
    div{
    @include flex-center;
    padding: 50px;
    height: 100%;
    }
    }
    #experiencia {
    div { 
        p{
    color: white;
    text-align:justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        }
    }
    #contacto{
    @include flex-center;
    flex-direction: column;
    background-color: #222;
    color: white;
    }
    #contacto { 
    form {
        @include flex-center;
        flex-direction: column;
    }
    }
    #contacto {
    form {
        input{
    margin: 15px;
        }
    }
    }
    footer{
    margin: 0px;
    padding: 5px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 35%, rgba(0,212,255,1) 100%);
}
    footer h1{
    @include flex-center;
    color: white;
    }
